<div class="p-grid p-dir-col wrapper">
    <div class="p-col text-end">
        <p-button icon="pi pi-times" 
                  pTooltip="Go back"
                  tooltipPosition="top"
                  (onClick)="goBack()"></p-button>
    </div>
    <div class="p-col">
      <div class="p-grid">
        <div class="p-col-2">
          <label for="name-input">Name:</label>
        </div>
        <div class="p-col-10">
          <span id="name-input">{{event.name}}</span>
        </div>
      </div>
    </div>
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col-2">
              <label for="date-input">Date:</label>
            </div>
            <div class="p-col-10">
              <span id="date-input">{{event.date | date: 'dd.MM.yyyy' }}</span> 
            </div>
          </div>
    </div>
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col-2">
              <label for="location-input">Location:</label>
            </div>
            <div class="p-col-10">
              <span id="location-input">{{event.location}}</span>
            </div>
          </div>
    </div>
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col-2">
              <label for="description-input">Description:</label>
            </div>
            <div class="p-col-10">
              <span id="description-input">{{event.description}}</span>
            </div>
          </div>
    </div>
    <div class="p-col buttons">
        <p-button icon="pi pi-copy" 
                  pTooltip="Duplicate event"
                  tooltipPosition="top"
                  (onClick)="duplicate()"></p-button>
        <p-button icon="pi pi-trash" 
                  pTooltip="Delete event"
                  tooltipPosition="top"
                  (onClick)="delete()"></p-button>
        <p-button icon="pi pi-pencil" 
                  pTooltip="Edit event"
                  tooltipPosition="top"
                  (onClick)="edit()"></p-button>
    </div>
  </div>