:host #{"/deep/"} {
    p-button {
        margin: 0 5px;
    }
}

label {
    font-weight: bold;
}

.wrapper {
    font-size: 16px;
    padding: 10px;
}

.buttons {
    width: 100%;
    text-align: center;
}

.p-col-10 {
    border-bottom: 1px solid grey;
}

.text-end {
    text-align: end;
}