:host #{"/deep/"} {
    p-steps {
        .ui-steps {
            text-align: center;
        }

        .ui-steps .ui-steps-item {
            padding: 0 10%;
            display: inline-block;
            float: none;
        }
    }

    p-toggleButton {
        .ui-togglebutton {
            padding: 0.2em 0;
            margin-right: 5px;
        }
    }
}

.inline {
    display: inline-block;
}

.filter {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}