<p-steps [model]="items" 
         [(activeIndex)]="activeIndex" 
         [readonly]="false" 
         (activeIndexChange)="timePeriodChanged()"></p-steps>
<div class="p-grid">
  <div class="col filter">
    <p-toggleButton [(ngModel)]="allEvents" 
                    [onLabel]="allEventsLabel" 
                    [offLabel]="allEventsLabel"
                    (onChange)="toggleButtons($event)"></p-toggleButton>
    <p-toggleButton [(ngModel)]="myEvents" 
                    [onLabel]="myEventsLabel" 
                    [offLabel]="myEventsLabel"
                    (onChange)="toggleButtons($event)"></p-toggleButton>
    <p-toggleButton [(ngModel)]="othersEvents" 
                    [onLabel]="othersEventsLabel" 
                    [offLabel]="othersEventsLabel"
                    (onChange)="toggleButtons($event)"></p-toggleButton>
    <div class="inline">
      <div class="ui-inputgroup"> 
        <input id="search-input" 
               type="text" 
               size="30" 
               placeholder="Search" 
               pInputText
               (input)="changeSearchExpression($event)"> 
        <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      </div>
    </div>
  </div>
</div>