<div class="p-grid p-dir-col">
  <div class="p-col">
    <app-event-navigation 
      (ownershipChange)="filterEvents($event)"
      (searchExpressionChange)="filterEvents(undefined, $event)"
      (timePeriodChange)="filterEvents(undefined, undefined, $event)"></app-event-navigation>
  </div>
  <div class="p-col">
    <app-event-card *ngFor="let event of shownEvents" [event]="event"></app-event-card>
  </div>
  <div class="p-col buttons">
      <p-button icon="pi pi-plus-circle" 
                pTooltip="Create new"
                tooltipPosition="top"
                (onClick)="createNew()"></p-button>
  </div>
</div>