$error-color: #c92c2c;

label {
    display: block;
    font-size: 20px;
}

input {
    font-size: 20px;
}

.wrapper {
    text-align: center;
    height: 100%;
}

input.error {
    border: $error-color 2px solid;
}

div.error {
    padding-top: 10px;
}

span.error {
    color: $error-color;
}