<div class="p-grid p-align-center wrapper">
  <div class="p-col">
    <form [formGroup]="loginForm">
      <label for="name-input">Name</label>
      <input formControlName="name" [ngClass]="{error : this.loginForm.get('name').invalid && this.loginForm.get('name').touched}" type="text" size="30" pInputText>
      <label for="password-input">Password</label>
      <input formControlName="password" [ngClass]="{error : this.loginForm.get('password').invalid && this.loginForm.get('password').touched}" type="password" size="30" pInputText>
      <div class="error">
        <span *ngIf="missingField" class="error">Both fields needs to be provided.</span>
        <span *ngIf="wrongCredentials" class="error">Credentials you entered are invalid.</span>
      </div>
      <br><br>
      <button type="submit" label="Login" (click)="login()" pButton></button>
    </form>
  </div>
</div>