$border-layout: 1px dashed grey;

:host #{"/deep/"} {
    p-card {
        .ui-card {
            margin-bottom: 15px;
        }

        .ui-card-title {
            border-bottom: $border-layout;
        }
    }
}

.description {
    border-right: $border-layout;
}

.info {
    border-right: $border-layout;
}

.icon {
    text-align: center;
    cursor: pointer;
}

.icon:hover {
    font-weight: bold;
}

.icon:active {
    transition: transform 0.2s ease-in-out;
    transform: scale(0.8);
}