<p-card [title]="event.name">
  <div class="p-grid">
    <div class="p-col-7 description">
      <p [innerHtml]="event.description"></p>
    </div>
    <div class="p-col-4 info">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <span [innerHtml]="event.date | date: 'dd.MM.yyy'"></span>
        </div>
        <div class="p-col">
            <span [innerHtml]="event.location"></span>
          </div>
      </div>
    </div>
    <div class="p-col-1">
      <div class="p-grid p-dir-col">
        <div class="p-col icon">
          <i class="pi pi-search" pTooltip="detail" tooltipPosition="left" (click)="detail()"></i>
        </div>
        <div class="p-col icon">
          <i class="pi pi-copy" pTooltip="duplicate" tooltipPosition="left" (click)="edit()"></i>
        </div>
        <div class="p-col icon">
          <i class="pi pi-trash" pTooltip="delete" tooltipPosition="left" (click)="delete()"></i>
        </div>
      </div>
    </div>
  </div>
</p-card>
