$main-background-color: #007ad9;

$header-size: 100px;

// Elements

header,
footer {
    height: $header-size;
    background-color: $main-background-color;
}

main {
    flex: 1;
    padding: 10px;
}

// Classes

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;;
}