<div class="p-grid p-align-center">
  <div class="p-col-8">
      <span class="initials">EM</span>
  </div>
  <div class="p-col-4 text-end" *ngIf="activeUser && activeUser.name">
    <span>{{activeUser.name}}</span>
    <br>
    <i class="pi pi-power-off logout" (click)="logout()"></i>
  </div>
</div>