@import '../../../app.component.scss';

.p-grid {
    margin: 0;
    color: whitesmoke;
    height: $header-size;
}

.initials {
    font-size: xx-large;
}

.text-end {
    text-align: end;
}

.logout {
    cursor: pointer;
    font-size: 25px;
}

.logout:hover {
    font-weight: bold;
}

.logout:active {
    transition: transform 0.2s ease-in-out;
    transform: scale(0.8);
}