<div class="centered">
  <div class="p-grid p-dir-col">
    <div class="p-col">
      <img src="../../../../assets/img/404.png" alt="404" class="image">
    </div>
    <div class="p-col">
      <p>
        The page you requested is not available in our application. 
        Please return to the home page and try your actions again.
      </p>
    </div>
    <div class="p-col">
      <p-button label="Go home" (click)="goHome()"></p-button>
    </div>
  </div>
</div>
