<form [formGroup]="editForm">
  <div class="p-grid p-dir-col wrapper">
    <div class="p-col">
      <label for="name-input">Name</label>
      <input formControlName="name" 
             id="name-input" 
             [ngClass]="{error : fieldHasError('name')}" 
             type="text" 
             size="30" 
             pInputText>
    </div>
    <div class="p-col">
      <label for="date-input">Date</label>
      <p-calendar formControlName="date"
                  id="date-input"
                  [ngClass]="{error : fieldHasError('date')}"
                  [minDate]="minDateValue" 
                  dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <div class="p-col">
      <label for="location-input">Location</label>
      <input formControlName="location" 
             id="location-input" 
             [ngClass]="{error : fieldHasError('location')}"
             type="text" 
             size="30" 
             pInputText>
    </div>
    <div class="p-col">
      <label for="description-input">Description</label>
      <textarea formControlName="description"
                rows="1"
                autoResize="autoResize"
                pInputTextarea></textarea>
    </div>
    <div class="p-col buttons">
      <div *ngIf="!formChecked || (editForm.invalid && editForm.touched)" class="error-text">
        Please fill in all required fields.
      </div>
      <p-button icon="pi pi-check" 
                styleClass="ui-button-success" 
                pTooltip="Save changes"
                tooltipPosition="top"
                (onClick)="save()"
                [disabled]="!formChecked"></p-button>
      <p-button icon="pi pi-trash" 
                styleClass="ui-button-warning" 
                pTooltip="Discard changes"
                tooltipPosition="top"
                (onClick)="discard()"></p-button>
    </div>
  </div>
</form>