$warning-color: #c92c2c;

:host #{"/deep/"} {
    input, textarea  {
        border: none;
        border-bottom: 1px solid grey;
        border-radius: 0;
        width: 100%;
        font-size: 16px;
    }
    textarea {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        color: #333333;
        resize: vertical;
    }
    p-calendar {
        span {
            width: 100%;
        }
    }
    p-button {
        margin: 0 5px;
    }
}

label {
    display: block;
    font-size: 14px;
}

.wrapper {
    padding: 0 20px;
}

.buttons {
    width: 100%;
    text-align: center;
}

.error {
    color: $warning-color;
    border: none !important;
    border-bottom: 1px solid $warning-color !important;
}

.error-text {
    color: $warning-color;
    font-size: 14px;
    padding-bottom: 15px;
}